body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Pangolin', cursive;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar-custom {
    background-color: #ee211d;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgba(2,138,197,0.6);
}

.navbar a {
    color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: Blue;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
